apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: will-app-argo-config
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Reda1337/rel-hada.git
    targetRevision: master
    path: yamls
  destination:
    server: https://kubernetes.default.svc
    namespace: dev
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true